{{define "searchList"}}
<!doctype html>
<head>
  <meta charset="utf-8">
  <title> CSLABS Library </title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <style>
   body{
   width: 100%;
   margin-bottom: 120px;
}
.table > tr > th {
     vertical-align: middle;
     text-align: center;
}
th {
     vertical-align: middle;
     text-align: center;
}


.table > tbody > tr > td {
     vertical-align: middle;
     text-align: center;
}


   </style>
</head>


<body style="margin-top:5%">

<nav class="navbar navbar-inverse navbar-fixed-top ">
 <div class="navbar-header">
   <label class="navbar-brand">CSLabs Library</label>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/Home">Home</a></li>
        <li class="active"><a href="/Search">Search</a></li>
        <li><a href="/Contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/Logout">Logout</a></li>
      </ul>
    </div>
</nav>

  <div class="container">
   <form method="POST" action="BookResults" class = "" role = "form" style="margin-top:5%">
      <div class = "row">
         <div class = "col-lg-8 col-lg-offset-2">
            <div class = "input-group">
               <span class = "input-group-btn">
                 <input type = "text" class = "form-control input-lg" name="SEARCH" placeholder="Search by ISBN, Author, Title, and Category">
                  <button class = " btn btn-default btn-lg" type = "submit">
                      <span class = "glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </div>
       </div>
   </form>

   <div class = "table-responsive">
     <table class = "table table-hover table-bordered stable-striped">
       <caption style="text-align:center">Search Results</caption>
       <tr> <th>Cover Image</th><th>Title</th><th>Author</th> <th>Description</th><th>Availability</th><th>Quantity</th><th>Checkout/Checkin</th></tr>
         {{range $index,$element := .}}
          <tbody>
       <tr>
         <td><img src={{$element.Cover_image}} class="img-thumbnail"{{$element.Cover_image}} > </td>
         <td>{{$element.Title}} </td>
         <td>{{$element.Author}} </td>
         <td>{{$element.Description}}</td>
         <td>{{$element.Available}} </td>
         <td>{{$element.Quantity}}</td>

        <td> {{if .Testavaibility }}
            <form>
                  <button style="height:100px;width:100px" type="submit" formmethod="get" formaction="Checkin/{{$element.Isbn}}">Checkin Book</button>
            </from>
         {{else}}
          <form>
                  <button style="height:100px;width:100px" type="submit" formmethod="get" formaction="Checkout/{{$element.Isbn}}">Checkout Book</button>
                  <br>
                  <button style="height:100px;width:100px" type="submit" formmethod="get" formaction="Checkin/{{$element.Isbn}}">Checkin Book</button>
          </from>
         {{end}}
       </td>
         </tr>

<!--
     <label class=""> {{$index}} </label>
     <label class=""> <img src={{$element.Cover_image}} class="img-thumbnail"{{$element.Cover_image}} > </label>
     <label class=""> Title: {{$element.Title}} </label>
     <label class=""> Description: {{$element.Description}} </label>
     <label class=""> Availibility: {{$element.Available}} </label>
     <label class=""> Quantity: {{$element.Quantity}} </label>
     <label class=""> Categories: {{$element.Categories}} </label>
   -->
   {{end}}
 </tbody>
   </table>
 </div>

</div>
</body>
<footer style="background-color:#D3D3D3;width:100%;height:10%;position:fixed;bottom:0;left:0;">
  <div class="container-fluid ">
    <div class="row" style="margin-top:2%">
      <div class=" col-sm-offset-1">Clarkson Open Source Institute <br>
        <small>Clarkson University | Science Center 336</small>
      </div>
    </div>
</footer>
</html>
{{end}}
